
<tr class="shadow-lg rounded-md" id="Done-task-<%= task.id %>" >

    <td>
        <div class="block px-4 pb-1.5 pt-4">
            <%= link_to task do %>
                <div class="task_table_title">
                    <%= task.title %>
                </div>
            <% end %>
            <div class="task_table_tag">
                <%= linked_tag_list task %>
            </div>
        </div>
    </td>
    
    <td><%= link_to '', setAsNotDone_task_path(task), class: "btn-undone fas fa-times", id: "setAsNotDone", remote: true %></td>
    <td><%= link_to '', edit_task_path(task), class: "far fa-edit" %></td>
    <td><%= link_to '', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt mr-4", id: "deleteDone", remote: true %></td>
</tr>
